
header{
    width: 100%;
    text-align: center;
}

body{
    background-color: #f9F1CD;
    color: #42210B;
    font-family: 'Great Vibes', cursive;
}



.logo{
    width:20vw;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo-contain{
    margin:auto;
}

#pass-one{
    font-family: 'Crimson Text', serif;
    width: 15%;
    background-color: #e9e4cf;
    color: red;
    font-size: 1.5em;
}

#butt-one{
    font-family: 'Crimson Text', serif;
    background-color: #42210B;
    color: #f9F1CD;
    font-size: 1.5em;
}

.clues{
    display: none;
    width: 90vw;
    width: clamp(80vw, 85vw, 90vw);
    
    margin: auto;
    padding: 20px;
}

.pass-title{
    margin: auto;
    text-align: center;
    font-size: 2rem;
}
.pass-box{
    margin: auto;
    text-align: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left:0;
    padding: 5px;
    color: #f9F1CD;
    background-color: #42210B;
}

a{
    text-decoration: none;
}

a:link,a:visited {
    color: #f9F1CD;
    background-color: #42210B;
}

a:hover{
    color: white;
}